/* TopBar menu *
 ***************/
#topbar{
  overflow:hidden;
  height: auto;
  width: 100%;
  text-align: center;
  border-top: 1px solid #1A1A1A;
//  background: #101010;
//  padding: 5px 0 4px;
}
.contact-icons, .social-icons {
  display:block;
//  color:#fff;
  font-size: 12px !important;
  margin: 0 auto;
//  background: #202020;
//  z-index: 2;
  float: none;
  width: 100%;
}
.social-icons {}
.contact-icons {  color:#ccc;  }

#topbar ul {
  padding: 0 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}@media screen and (min-width: 550px){
  #topbar ul {
    padding: 0 20px;
    margin: 0;
  }
  .contact-icons, .social-icons {
    font-size: 16px; width: auto;
  }
  .contact-icons {
    float:left;
  }
  .social-icons  {
    float:right;
  }
}
#topbar li {
  padding: 5px;
  text-align: center;
  display: inline-block;
}
#topbar a {
  color: #ccc;
}
#topbar a:hover,#topbar a:focus {
  color: #fff;
}
#topbar i {
  font-size: 20px;
}

/* Main Menu area layout */
#main-nav {
//  text-align: left;
//  vertical-align: top;
//  -webkit-user-select: none;
//  -moz-user-select: none;
//  -ms-user-select: none;
//  user-select: none;
  width: 100%;
  position: relative;
//  overflow: hidden;
  height: 48px;
//  clear: both;
//  background-color: #202020;
}
#brand-area {
  width: 100%;
//  float: left;
  text-align: center;
  padding: 0;
//  position: relative;
  background: #000;
}

#nav-container {
//  position: relative;
//  width: auto;
  height: 48px;
//  float: right;
  //  padding-bottom: 75px;
  //  bottom: 0;
  //  height: 100%;
}
.brand-logo{
//  float:left;
//  padding-top:10px;
  background: #c2c2c2;
  width: 125px;
  height: 48px;
  text-align: center;
}

#brand_banner {
//   	margin: 0 auto;
//  width:auto;
    margin: 0px auto;
    width: 562px;
    height: 50px;
//  position: absolute;
//  top: 0; left: 0; bottom: 0; right: 0;
   }

#div_carolina {
  display: inline;
  float: left;
  background-color: #e69dd6;
  width: 297px;
  height: 50px;
  border-left: @c-dkpink solid 5px;
  border-right: @c-dkpink solid 5px;
}
#div_real {
  display: inline;
  float: left;
  background-color: #000;
  width: auto;
  height: 50px;
}

.txt_carolina {
  font-family: 'Cinzel', Arial, Helvetica, sans-serif;
  font-size: 33px;
  text-align: center;
  color: #b83588;
  line-height: 95.04%;
  padding-bottom: 2px;
  padding-top: 1px;
  margin-left: 10px;
  margin-top: 8px;
  display: inline;
  float: left;
}
.txt_real {
  font-family: 'Cinzel', Arial, Helvetica, sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  color: #b83588;
  line-height: 112.28%;
  padding-bottom: 2px;
  padding-top: 1px;
  display: inline;
  float: left;
  margin: 12px 18px 0;
}




/* WR_MegaMenu Overrides
 *************************/

.wr-megamenu-container {
  z-index: 1000;
  width: 100%;
//  position: fixed; //over content at mobile
  //  right: 0;
  @media screen and (min-width: 784px) {
//    position: relative; //unfix at desktop
    //    width: 500px;
  }
}
.wr-mega-menu .wr-menu-down {
//hide/show inner listing toggle
  display: none;
  @media screen and (min-width: 784px){
    display: block;
  }
}

.wr-megamenu-container ul.wr-mega-menu{
//  width: auto;
//  float: left;
}
.stick{
//  right:0;
//  left: auto;
  max-width: 1200px;
  right: 0;
}
.it-responsive-mega{
  width: 48px;
  height: 48px;
  float: right;
  background: url("../images/icon-menu.svg") no-repeat scroll center center rgba(204, 204, 204, 0.5) !important;
}
.it-responsive-mega.stick {
  width: 48px;
  height: 48px;
  right:0;
  left: auto;
}
.wr-megamenu-container.stick.active {
  top: 48px;
//  height: auto;
//  overflow: auto;
}
.wr-megamenu-container .current_page_item > a,
.wr-megamenu-container .current_page_ancestor > a,
.wr-megamenu-container .current-menu-item > a,
.wr-megamenu-container .current-menu-ancestor > a {
  color: @c-ltpink !important;
  font-weight: 900;
}




.wr-megamenu-inner {
  transform: translateY(0px) !important;
  width: 400px !important;
  margin: 0 auto !important;
  position:absolute;
  top: 48px;
//  right: 0;


//  display: block;     //for testing only- must be deleted
//  visibility: visible;//for testing only- must be deleted
//  opacity: 1;         //for testing only- must be deleted
}
h2.widgettitle{
  display: none;
}






/////////////////////////////
//CSS for CPT-listings "Recent Listings" widget

.noThumb{
  width:45px;
  height:45px;
  float:left;
  margin:0 12px 0 0;
  background-color:#000;
}
ul.listings_widget {margin-top:10px;}
ul.listings_widget li {
  margin:0 0 15px 0; list-style:none;
  min-height:45px;line-height:19px;
  overflow:hidden;
  padding:5px;
}
ul.listings_widget li img{float:left; margin:0 12px 0 0;}

ul.listings_widget li img {
  margin: 0 12px 0 0;
  height:45px;
  width:45px;
}
ul.listings_widget li a {
  font-weight:bold;font-size: 14px; float:right;
  :hover{
  background: @c-dkpink;
  }
}
.wr-megamenu-container ul ul a {
  padding: 0 !important;
//  width: 80%;
}
.wr-megamenu-container .wr-megamenu-inner ul a {
  width: 80% !important;
  //  width: auto !important;
  //  float: right !important;
}
.wr-megamenu-container ul ul a:hover,
.wr-megamenu-container ul ul li.focus > a,
.wr-megamenu-container li:hover > a {
  background-color:@c-dkpink;
}
ul.listings_widget li span {display:block; font-size:11px;}

/* menu hover color */
/*
ul#navigation li:hover,
ul#navigation li:focus {
  background-color: #333333 !important;
}
*/
/* Menu item background color *//*

*/
/* Menu item border-top color *//*

*/
/* Menu item border-bottom color *//*

ul#navigation li {
  background-color: #8c8c8c !important;
  border-bottom: 1px solid #4DD0E1 !important;
}
ul#navigation li:first-child {
  border-top: 1px solid #4DD0E1 !important;
}
*/
/* Main color *//*

ul#navigation li.external:hover .fa,
ul#navigation li.current-menu-item .fa,
.cd-active.cd-dropdown > span
{
  color: #212121 !important;
}
ul#navigation {
  padding: 0;
  margin: 0;
}
ul#navigation li {
  display: block;
  float: none;
  clear: both;
  background: #303030;
  cursor: pointer;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -ms-transition: background 0.5s;
  transition: background 0.5s;
}
ul#navigation li a {
  color: #ccc;
  font-size: 14px;
  line-height: 45px;
  */
/* margin-left: 15px; *//*

  display: block;
  text-align: center;
}
ul#navigation li:hover,ul#navigation li:focus {
  background: #363636;
}
ul#navigation li:hover a,ul#navigation li:focus a {
  color: #f7f7f7;
}
ul#navigation .current-menu-item {
  font-weight: bold;
}
ul#navigation li.current-menu-item a {
  color: #fff;
  font-weight: bold;
}
ul#navigation li.external:hover .icon, ul#navigation li.current-menu-item .icon{
  color: #03cc85;
}
ul#navigation li.external:hover .fa, ul#navigation li.current-menu-item .fa{
  color: #03cc85;
}
ul#navigation li.current-menu-item {
  background: #363636;
}
ul#navigation li .fontawesome-text {
  padding-left: 5%;
  margin-left: -15px;
  line-height: 45px;
  display: inline-block;
  -webkit-box-shadow: -3px 0 5px -4px #000;
  box-shadow: -3px 0 5px -4px #000;
}
ul#navigation li .fa {
  float: left;
  line-height: 45px;
  width: 50px;
  text-align: center;
  font-size: 27px;
  position: relative;
  left: -15px;
}
*/

//.mobile_nav_trigger{
//  position: relative;
//  top: 0px;  left: 0;  right: 0;
//  z-index: 1002;
//  width: 180px;
//  height: 50px;
//  overflow:hidden;
//  display: block;
//}
//.mobilemenu {
//  position:relative;
//  float:right;
//  padding: 3px 11px;
//  width: 50px;
//  height: 50px;
//  background: #2b2b2b;
//  font-size: 30px;
//  color: #fff;
//}
//.mobilemenu:hover,.mobilemenu:focus {
//  color: #fff;
//}



//#brand-area .portrait {
//  width: 125px;
//  margin: 0 auto;
//  height: 125px;
//}
//
//#brand-area .portrait img{
//  width: 100%;
//  height: 100%;
//  border: 5px solid #4DD0E1;
//  border-radius: 100px;
//  -webkit-border-radius: 100px;
//  -moz-border-radius: 100px;
//}
//
//#brand-area .title h2 {
//  font-size: 28px;
//  font-weight: 300;
//  color: #fff;
//  margin: 20px 0 10px 0;
//}
//
//#brand-area .title h3 {
//  font-size: 18px;
//  font-weight: 300;
//  color: #aaa;
//  margin: 0px 0 10px 0;
//}
