
@font-face {font-family: "EurostileExt2";src: url("../fonts/EurostileExt2.ttf");}
/** {font-family:'Courier New', Courier, monospace;}*/
* {font-family:"EurostileExt2", sans-serif;box-sizing: border-box;}
body{background: black url("../img/space.jpg") no-repeat fixed left center !important;
    background-size: cover;}
#viheader{
    line-height:1;
    position: fixed;
    right: 0;
    width: 390px;
    margin: 0 auto;
    opacity:0.5;
    padding:0;
    font-size:32px;
    animation-duration: 3s;
    animation-name: slidein;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    cursor:default;
    z-index:-1000;
}
@keyframes slidein {
    from {margin-right: 100%;width: 100%;}
    to {margin-right: 0; width: 390px;}
}
.f-nova {font-family: 'EurostileExt2', sans-serif;}
.f-courier {
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    background-color:#000022;
}

#inputarea{
    background-color: #714949;
    color: #FDC81C;
    font-size: 9px;
    resize: none;
    height: 150px;   width: 100%;
}
#outputarea1, #outputarea2{
    background-color: #714949;
    color: #FDC81C;
    font-family:'Courier New', Courier, monospace;
    font-size: 9px;
    resize: none;
    overflow-x:scroll;
    white-space: nowrap;
}
#outputarea1{height: 100px;   width: 100%;    font-size: 32px;     overflow-x:auto;}
#outputarea2{height: 200px;   width: 100%;    font-size: 9px;      overflow-x:auto;}

#JsOutput>pre {
    height: 100px;
    max-height: 100px;
    overflow: auto;
    background-color: #eeeeee;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre !important;
}
